[global_config]
[keybindings]
[profiles]
  [[default]]
    background_color = "#3d3846"
    cursor_color = "#aaaaaa"
    foreground_color = "#ffffff"
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
