[global_config]
  title_transmit_bg_color = "#000000"

[profiles]
  [[default]]
    background_color = "#000000"
    foreground_color = "#FFFFFF"
    cursor_color = "#FFFFFF"
    use_default_colors = False

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
    type = Container
    [[[window0]]]
      fullscreen = False

[plugins]
