#!/bin/sh

#
/usr/bin/wget -O - 'http(s)://mydns548699:パスワード@ipv4.mydns.jp/login.html'
#/usr/bin/wget -O - 'http(s)://mydns548699:パスワード@ipv6.mydns.jp/login.html'


# Usage
#  $ cp update.sh.dist update.sh
#  $ パスワードを追記
#  $ crontab -e
#  以下を追記
#  */3 * * * * /home/xxxx/.dotfiles/dyndns/mydns.sh 1> /dev/null 2> /dev/null
